<div class="toast" *ngIf="showToast">Text copied to clipboard!</div>
<form  style="display: flex; flex-direction: row; height: 100vh;">
  <div style="flex: 1; display: flex; flex-direction: column; padding: 10px;">
    <textarea [formControl]="leftText" style="flex: 1;"></textarea>
    <!-- Da die Transformation automatisch passiert, wird der linke Button nicht mehr benötigt. -->
  </div>
  <div style="flex: 1; display: flex; flex-direction: column; padding: 10px;">
    <textarea [formControl]="rightText" style="flex: 1;" readonly></textarea>
    <button (click)="copyRightTextToClipboard()" type="button" style="margin-top: 10px;">Copy Again</button>
  </div>
</form>
